########################################
# Docker Compose variables
########################################

# Host user running Paperless containers
USERMAP_UID=1000
USERMAP_GID=1000


########################################
# Database
########################################

# Used by PostgreSQL container
POSTGRES_PASSWORD=change-me

########################################
# Storage
########################################

PAPERLESS_DIR="${PAPERLESS_DIR:-/srv/paperless}"