########################################
# Docker Compose variables
########################################

# Host user running Paperless containers
USERMAP_UID=1000
USERMAP_GID=1000


########################################
# Storage
########################################

PAPERLESS_DIR="${PAPERLESS_DIR:-/srv/paperless}"