########################################
# Paperless
########################################

# Generate:
# openssl rand -base64 32
PAPERLESS_SECRET_KEY=change-me

# Timezone
PAPERLESS_TIME_ZONE=Europe/Berlin

# Public URL
PAPERLESS_URL=http://localhost:8000


########################################
# OCR
########################################

PAPERLESS_OCR_LANGUAGE=deu+eng+ita+spa+fra+tha

# Additional installed OCR languages
# Requires tesseract language packages in the container
PAPERLESS_OCR_LANGUAGES=tha

# Archive format
PAPERLESS_OCR_OUTPUT_TYPE=pdfa


########################################
# Consumer
########################################

# Scan subfolders
PAPERLESS_CONSUMER_RECURSIVE=true

# Check consume folder every X seconds
PAPERLESS_CONSUMER_POLLING=30

# Delay before processing new files
PAPERLESS_CONSUMER_POLLING_DELAY=15


########################################
# Barcode support
########################################

PAPERLESS_CONSUMER_ENABLE_BARCODES=true
PAPERLESS_CONSUMER_ENABLE_ASN_BARCODE=true


########################################
# Filenames
########################################

PAPERLESS_FILENAME_FORMAT={{ owner_username }}/{{ correspondent }}/{{ created_year }}/{{ created_year }}-{{ created_month }}-{{ created_day }}_{{ title }}

PAPERLESS_FILENAME_FORMAT_REMOVE_NONE=true


########################################
# Email import (optional)
########################################

PAPERLESS_EMAIL_HOST=change-me
PAPERLESS_EMAIL_PORT=change-me
PAPERLESS_EMAIL_HOST_USER=change-me
PAPERLESS_EMAIL_HOST_PASSWORD=change-me
PAPERLESS_EMAIL_FROM=change-me
PAPERLESS_EMAIL_USE_TLS=change-me
PAPERLESS_EMAIL_USE_SSL=change-me


########################################
# Accounts
########################################

# Only relevant if registration is enabled
PAPERLESS_ACCOUNT_EMAIL_VERIFICATION=false


########################################
# Logging
########################################

PAPERLESS_LOGGING_LEVEL=INFO